* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #5e4c5a;
    background-color: #ffe2d1;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
  align-items: center;
  padding: 20px;
  padding-bottom: 175px;
  background-color: #55917f;
  }

header img{
    border-radius: 50%;
    height: 150px;
    width: 150px;
    float: left;
    background-color: #55917f;
}

header h1 {
  text-align: left;
  background-color: #55917f;
  font-size: 70px;
  padding-top: 40px;
  padding-left: 10px;
  color: #e1f0c4;
  float: left;
}

header a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #e1f0c4;
    display: inline-block;
    background-color: #55917f;
  }

nav {
  display: flex;
  margin-top: 70px;
  margin-right: 20px;
  float: right;
}

nav a:hover {
    color: #5e4c5a;
  }

.main {
    display: block;
    padding: 30px 30px 30px 30px;
    align-items: center;
    justify-content: center;
    font-size: medium;
    margin-right: 100px;
    margin-left: 170px;
    width: 65%;
}

.main h2 {
    font-size: 34px;
    padding-bottom: 5px;
}

.main a {
  text-decoration: none;
  color: #55917f;
  font-weight: 700;
}
.main a:hover {
  color: #5e4c5a;
}

.main p {
  margin: 2% 0;
}

.projects {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  padding: 10px;
}

#project-2, #project-3 {
  width: 50%;
  height: auto;
  position: relative;
}

#project-2 {
  padding-right: 5px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #55917f;
}

.projects:hover .overlay {
  opacity: 1;
}

.text {
  color: #e1f0c4;
  background-color: #55917f;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.projects h3 {
  position: relative;
}

.items {
  display: flex;
  flex-wrap: wrap;
}

.social{
    display: flex;
    background-color: #55917f;
    padding: 200px 0px 180px 0px;
}

footer {
   display: block;
    padding: 30px 30px 30px 30px;
    align-items: center;
    justify-content: center;
    font-size: medium;
    margin-left: 160px;
}

footer a {
  text-align: center;
  text-decoration: none;
  color: #55917f;
  font-weight: 700;
}

footer a:hover {
  color: #5e4c5a;
}

  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }